.banner {
  min-height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../../assets/img/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-row {
  min-height: inherit;
}
